@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
@import url("container.css"); @import url("avatar.css"); @import url("button.css"); @import url("banner.css"); @import url("card.css");
body {
font-family: 'Lora', sans-serif; color: white;
font-size: 18px;
font-weight: bold;
margin: 5px;
text-align: center; background-color: black;
} h1,h2,h3{
font-family: 'Roboto', sans-serif; font-size: 30px;
text-align: center;
} a{
text-decoration: none; }
